


.partners__container {
    padding: 0.75rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    :nth-child(1) {
        border-left: none;
      }
      

}
.partners__element {
    max-width: 12.3575rem;
    padding: 2.625rem 2.625rem 3.12125rem 2.6875rem;
    border-left: 1px solid #E5E5E5;
    @include media('<desktop') {
        border: none;
      }
}

