@import "media-queries-var";

// Brand
$c-brand-primary:   #FFFFFF;

// background
$c-bg-primary:      #FFFFFF;
$c-bg-secondary:    #000;

// fonts
$c-font-primary:    #FFFFFF;
$c-font-secondary:  #000;
$c-font-tertiary:   #222;
