html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.site {
  min-width: 220px;
  width: 100%; }

a, button, select, input {
  outline: none;
  box-sizing: border-box; }

input {
  -webkit-appearance: none;
  border-radius: 0; }
  input:focus {
    border: none;
    outline: none;
    box-shadow: none; }

button {
  border: none;
  cursor: pointer; }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-display: swap; }

* {
  box-sizing: border-box; }
  *::selection {
    color: #000;
    background-color: #FFFFFF; }

html {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 1025px) and (max-width: 1279px) {
  html {
    font-size: 14px; } }

h1, h2, h3 {
  font-size: calc(2rem + 32 * ((100vw - 360px) / 1080));
  margin-bottom: 1rem; }
  @media (min-width: 1440px) {
    h1, h2, h3 {
      font-size: 4rem; } }

h1, h2 {
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem; }

h3 {
  color: #222;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; }

h4 {
  font-size: calc(1.625rem + 6 * ((100vw - 360px) / 1080));
  margin-bottom: 1rem; }
  @media (min-width: 1440px) {
    h4 {
      font-size: 2rem; } }

h5 {
  font-size: calc(1.125rem + 2 * ((100vw - 360px) / 1080)); }
  @media (min-width: 1440px) {
    h5 {
      font-size: 1.25rem; } }

hr {
  width: 100%;
  height: 1px;
  background-color: rgba(233, 228, 219, 0.2);
  border: 0;
  margin: 0; }

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: var(--default-transition); }
  @media (min-width: 1025px) {
    a:hover {
      color: #FFFFFF; } }

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; }

.black__square-btn {
  padding: 1.125rem 1.47031rem 1.125rem 1.48281rem;
  background: #000; }
  .black__square-btn span {
    color: #FFFFFF;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; }
  @media (min-width: 1025px) {
    .black__square-btn:hover {
      background: #FFFFFF; }
      .black__square-btn:hover span {
        color: #000; } }

.white__round-btn {
  padding: 1.0625rem 2.4375rem;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  border: 1px solid #000;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 0px; }
  .white__round-btn span {
    color: #000;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; }
  @media (min-width: 1025px) {
    .white__round-btn:hover {
      background: #000; }
      .white__round-btn:hover span {
        color: #FFFFFF; } }

body {
  background-color: #FFFFFF;
  overflow-x: hidden; }
  body.is-modal-open {
    overflow: hidden;
    max-height: 100vh; }

body {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }
  body.is-modal-open {
    overflow: hidden;
    max-height: 100vh; }

.wrapper {
  overflow-x: hidden; }

.container, .header__inner, .footer__inner, .about__inner, .services__inner, .partners__inner, .calltoaction__inner {
  max-width: 92rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }

.header {
  padding: 1rem 0;
  background-color: #FFFFFF; }

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  .nav a {
    color: #222;
    font-size: 0.875rem;
    line-height: 1.25rem; }

.logo__img {
  padding-right: 0.5rem; }

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.97rem;
  padding-right: 1.48rem; }

.menu__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.menu__link:hover {
  color: #88880b; }

.menu__toggle {
  background: black;
  border: none;
  position: relative;
  z-index: 3; }
  @media (min-width: 1025px) {
    .menu__toggle {
      display: none; } }
  .menu__toggle.--opened span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px); }
  .menu__toggle.--opened span:nth-child(2) {
    opacity: 0; }
  .menu__toggle.--opened span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -8px); }
  .menu__toggle span {
    width: 33px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    display: block; }

@media (max-width: 1024px) {
  .menu__inner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu__inner.--opened {
      opacity: 1;
      visibility: visible; }
    .menu__inner .menu {
      flex-direction: column; }
    .menu__inner .header-btn {
      visibility: hidden; } }

footer {
  padding: 4.38rem 0; }

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-flow: row wrap; }
  @media (max-width: 1024px) {
    .footer__inner {
      flex-direction: column; } }
  .footer__inner p, .footer__inner a {
    color: #222; }

.footer__title {
  color: #222;
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.70625rem;
  text-transform: uppercase; }

.links__element {
  justify-content: center;
  width: 14.8rem; }

.footer h6 {
  float: left; }

.links {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  float: left;
  gap: 1.75rem; }
  @media (max-width: 1024px) {
    .links {
      flex-direction: column;
      align-self: center;
      gap: 1rem;
      margin-top: 2rem; } }

.footer__link {
  font-size: 1.1375rem;
  font-weight: 400;
  line-height: 1.47875rem; }
  .footer__link a {
    transition: .3s ease; }

.about__container {
  text-align: center; }

.about {
  padding: 5rem 0;
  background-color: #000; }

.about__title {
  max-width: 36rem;
  margin: 0 auto; }

.about__text {
  max-width: 34rem;
  margin: 0 auto;
  line-height: 1.5rem;
  padding-top: 0.94rem;
  padding-bottom: 2rem; }

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem; }

.about-btn {
  border: 1px solid #F5F5F5; }

.meeting__img {
  width: 100%;
  text-align: center;
  padding-top: 2rem; }

.services {
  padding: 5rem 0; }

.row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 3rem; }

.services-features__element {
  max-width: 23rem; }
  .services-features__element svg {
    fill: #FFFFFF;
    width: 3.5rem;
    height: 3.5rem; }
  @media (min-width: 1025px) {
    .services-features__element:hover svg {
      fill: #F2F1FF; } }
  .services-features__element p {
    color: #222;
    font-size: 0.875rem;
    padding-top: 0.63rem; }

.partners__container {
  padding: 0.75rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.partners__element {
  max-width: 12.3575rem;
  padding: 2.625rem 2.625rem 3.12125rem 2.6875rem;
  border-left: 1px solid #E5E5E5; }

.calltoaction__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3.94rem; }

.calltoaction {
  padding: 5rem 0;
  background-color: #000; }

.calltoaction__container {
  max-width: 37rem; }

.calltoaction__title {
  margin: 0 auto;
  text-align: left; }

.calltoaction__text {
  line-height: 1.5rem;
  padding-top: 0.94rem;
  padding-bottom: 3rem; }

.calltoaction-btn__container {
  display: flex;
  gap: 1.75rem; }

.about-btn {
  border: 1px solid #F5F5F5; }

.meeting__img {
  width: 100%;
  text-align: center;
  padding-top: 2rem; }

.calltoaction-white {
  padding: 5rem 0;
  background-color: #FFFFFF; }
  .calltoaction-white h2, .calltoaction-white p {
    color: #000; }
